<div class="layout-column align-items-center justify-content-center mt-40">
    <h4>Selected Customer Details</h4>
    <section class="content layout-row align-items-center justify-content-center mt-10">
      <table class="card content">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Gender</th>
            <th>Pin Code</th>
            <th>Country</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody data-test-id="customer-details">
          <tr class="slide-up-fade-in">
            <!-- Use below to render details row -->
            <td>{{totalCustomer.firstName}}</td>
            <td>{{totalCustomer.lastName}}</td>
            <td>{{totalCustomer.age}}</td>
            <td>{{totalCustomer.city}}</td>
            <td>{{totalCustomer.gender}}</td>
            <td>{{totalCustomer.pin}}</td>
            <td>{{totalCustomer.country}}</td>
            <td>{{totalCustomer.state}}</td>
          </tr>
        </tbody>
      </table>
    </section>
</div>
